{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
		<div class="pull-right">
			<button type="button" id="button-setting" title="Clear Cache" data-loading-text="Loading..." class="btn btn-danger"><i class="fa fa-eraser"></i> Clear Cache</button>
		</div>
		<h1>{{ text_title }}</h1>
		<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
		</ul>
	  
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body" style="padding:0px;">
		<h1 class="text-center">{{ text_title }}</h1>
		<h4 class="text-center"><a href="https://www.opencart.com/index.php?route=marketplace/extension&filter_member=sainent" target="_blank">Checkout More Extensions for Opencart</a></h4>
		<div class="extension-list">
			<iframe src="https://www.opencart.com/index.php?route=marketplace/extension&filter_member=sainent#input-sort" style="width:100%;height:800px;border:none;border-top:1px solid #eee;"></iframe>
		</div>
	  </div>
	  <div class="panel-footer"></div>
    </div>
    </div>
</div>
<script type="text/javascript"><!--
$('#button-setting').on('click', function() {
	$.ajax({
		url: 'index.php?route=common/developer&user_token={{ user_token }}',
		dataType: 'html',
		beforeSend: function() {
			$('#button-setting').button('loading');
		},
		complete: function() {
			$('#button-setting').button('reset');
		},
		success: function(html) {
			$('#modal-developer').remove();
			
			$('body').prepend('<div id="modal-developer" class="modal">' + html + '</div>');
			
			$('#modal-developer').modal('show');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});	
//--></script> 
{{ footer }}